@model CozmatikDukkan.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}



<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h3">Kategori Detay</h1>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Kategori Bilgileri
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                </dl>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Edit","Category")" class="btn btn-warning btn-sm"> Düzenle</a>
                <a href="@Url.Action("Index","Category")" class="btn btn-secondary btn-sm"> Listeye Dön</a>
            </div>
        </div>
    </div>
</div>

