@model IEnumerable<CozmatikDukkan.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h3">Kategoriler</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="@Url.Action("Create", "Category")" class="btn btn-sm btn-outline-secondary">Kategori Ekle</a>
        </div>

    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Description))
                        {
                            if (item.Description.Length >= 100)
                            {
                                @item.Description.Substring(0, 100);
                            }
                            else
                            {
                                @item.Description
                            }
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.ID }, new { @class = "btn btn-xs btn-secondary" })
                        @Html.ActionLink("Detay", "Details", new { id = item.ID }, new { @class = "btn btn-xs btn-warning" })
                        @Html.ActionLink("Sil", "Delete", new { id = item.ID }, new { @class = "btn btn-xs btn-danger" })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    Henüz Kategori Eklemediniz
                </td>
            </tr>
        }
    </tbody>


</table>
